* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
    font-family: 'Uchen', serif;
    background-color: #d0d1d3;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #30332E;
    padding: 20px 150px;
    color: white;
    align-items: center;
    width: 100%;
}

main {
	background-color: #d0d1d3;
	width: 100%;
	height: 100%;
}

a:link { 
	text-decoration: none;
}

a:visited { 
	text-decoration: none;
    color: white; 
}

a:hover { 
	text-decoration: none;
	color: #1d7e2b;
}

a:active { 
	text-decoration: none; 
}

.pageLink a{
    font-size: 1.5rem;
}

/* index page only */

img {
    height: 200px;
    width: auto;
}

.bookGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
    background-color: #d0d1d3;
    
}

.bookContainer {
    text-align: center;
    padding-top: 50px;
    background-color: #9bc1bc;
    border: 5px solid black ;
    padding-bottom: 10px;
    
}

.star {
    width: 10px;
    height: auto;
}

/* addBook page only */

.bookFormContainer {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 1.2rem;
}



/* Responsiveness */

@media screen and (max-width: 1300px) {

.bookGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
}

@media screen and (max-width: 1000px) {

    .bookGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-top: 10px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 900px) {

    nav {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    h1 {
        font-size: 1.5rem;
    }

  .pageLink a {
        font-size: 1rem;
    }

    .bookGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-top: 10px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 750px) {

    .bookGrid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        margin-top: 10px;
        margin-left: 10px;
    }
}